modules = ["python-3.12"]

[nix]
channel = "stable-23_11"

[env]
ANTHROPIC_API_KEY = "ANTHROPIC_API_KEY"

[interpreter]
command = [
    "python3",
    "-m",
    "poetry",
    "run",
    "python",
    "Multistep_Prompting_System/init__.py"
]

[deployment]
run = ["python3", "Multistep_Prompting_System/init__.py"]
deploymentTarget = "cloudrun"